body,a,ul,h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
	max-width:99% !important;
}

body{
	background-color: #F3F3F1;
}

/* header Start */


/* top Header */

header{
	background-color: white;
}

.topHeader{
	border-bottom: 1px solid rgb(209, 209, 206);
}
.topHeader li{
	float: left;
	padding: 10px;
}
.topHeader li a{
	color: #616b76;
	font-weight: 500;
	padding-right: 20px;
	border-right: 1px solid rgb(206, 206, 202);
}

/* top Header End */

/* Main Header Start */

.logo img{
	height: 80px;
}
.mainHeader{
	border-bottom: 2px solid rgb(209, 209, 206);
	position: static !important;
	top: 0px;
}
.mainHeader .col-md-3{
	float: left;

}
.mainHeader .col-md-9{
	float: right;

}

.mainManus li{
	float: left;
	padding: 25px 15px;
}
.mainManus li a{
	float: left;
	color: #333;
	font: 18px Georgia, Times,Times New Roman,serif;


}
.mainManus li i{
	border-right: solid rgb(206, 206, 202);


}

/* Main Header end */

/* header End */


/* Top News */


.imgContainer img{
	width: 100%;
}
.mainSection{
	background-color: white;
	margin: 1%;
}
.topNeews{
	padding: 10px;
}
/* lead News */

.leadNews{
	margin: 11px;
}
.leadNews img{
	width: 100%;
	position: relative;
}
.leadNewsCaption{
	position: absolute;
	top: 70%;
	left: 5%;
	width: 90%;
	
}
.leadNewsCaption a{
	color: white;
	font-weight: bold;
}
/* lead News end */

/* sub lead news */
.subLeadNews{
	margin: 10px;
}

.subLeadImgContainer img{
	width: 100%;
	height: 190px;

}
.subLeadNewsCaption{
	padding: 5px;
}
.subLeadNewsCaption h2{
	font: 17px Georgia,Times,Times New Roman,serif;
}
.subLeadNewsCaption a{
	color:black;
}
/* sub lead newsend */

/* lead news list */
.LeadNewsListCaption a{
	font: 17px Georgia,Times,Times New Roman,serif;
	color: black;
}

.leadNewsList .col-md-12{
	margin: 11px;
	border-bottom: 1px solid rgb(209, 209, 206);
}
/* lead news list end */
/* Top News end */

/* top news Second */
.topNewsSecondCaption{
	margin: 10px;
}
.topNewsSecondImgContainer img{
	width: 100%;
	height: 190px;
}
.topNewsSecondCaption{
	padding: 5px;
}
.topNewsSecondCaption h2{
	font: 17px Georgia,Times,Times New Roman,serif;
}
.topNewsSecondCaption a{
	color: black;
}
/* top news Second end */



/* Editorial Section */
.content{
	margin: 1%;
}
.editorial{
	background-color: white;
	border-top: 4px solid;
	
}
.editorial h2{
	font-weight: 600;
	
}.editorial h2 a{
	color: black;
	
}
.pullRight {
	margin-left: 30%;
}

.editorial .headSection {
	padding: 10px;
	border-bottom: 1px solid #cececc;
}

.editorials {
	padding: 10px;
	border-bottom: 1px solid #b3aeae;
}
.editorialAuthor a {
	color: #535151;
	font-weight: 700;
}
.editorialAuthor {
	padding: 10px 0;
}
/* Editorial Section End */